PORT=5000
MONGO_URI=mongodb://localhost:27017/hotelDB

JWT_SECRET=your_jwt_secret_key_here
NODE_ENV=development

CLOUDINARY_CLOUD_NAME=dod7pbdck
CLOUDINARY_API_KEY=386691831913661
CLOUDINARY_API_SECRET=M4z0TZ39a7yb9J_MzHMv0brXUEE

 RAZORPAY_KEY_ID=rzp_test_S5bqL5dHtJVYSh
 RAZORPAY_KEY_SECRET=9mt9ulRx3TWbqDrbyfUFmZCJ
